In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

import datetime

In [2]:
data = pd.read_csv('movie_bd_v5.xls')
#data.sample(5)
data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [3]:
data.describe()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

######################################
def f_convert_date(rawdate):
    if type(rawdate)==str:
        a = str(rawdate).split("/")
        day  = int(a[1])
        month= int(a[0])
        year = int(a[2])
        return datetime.date(year,month,day)
    else:
        return rawdate
######################################
def get_dataset_split(col,dataset):
    res={col:[],'imdb_id':[]}
    for i, row in data.iterrows():
        array = row[col].split('|')
        for x in array:
            res[col].append(x)
            res['imdb_id'].append(row.imdb_id)
    df = pd.DataFrame.from_dict(res)
    df.columns = ['n_'+col,'imdb_id']
    return df
#######################################

for col in data.columns:
    if type(data[col][0])==str:
        data[col] = data[col].apply(lambda x:x.strip().lower())

data['release_date'] = data['release_date'].apply(f_convert_date)
data['profit'] = data['revenue'] - data['budget']
data['month']=data['release_date'].apply(lambda x:x.month)
data['title_len']=data['original_title'].apply(lambda x:len(x))
data['overview_len']=data['overview'].apply(lambda x:len(x))

#data.head()

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
answers['1'] = data[data.budget == data.budget.max()].original_title.array[0]
answers['1']

'pirates of the caribbean: on stranger tides'

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = data[data.runtime == data.runtime.max()].original_title.array[0]
answers['2']

'gods and generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
answers['3'] = data[data.runtime == data.runtime.min()].original_title.array[0]
answers['3']

'winnie the pooh'

# 4. Какова средняя длительность фильмов?

In [10]:
answers['4'] = data.runtime.mean()
answers['4']

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [11]:
answers['5'] = data.runtime.median()
answers['5']

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [12]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = data[data.profit == data.profit.max()].original_title.array[0]
answers['6']

'avatar'

# 7. Какой фильм самый убыточный?

In [13]:
answers['7'] = data[data.profit == data.profit.min()].original_title.array[0]
answers['7']

'the lone ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [14]:
answers['8'] = data[data.profit > 0].profit.count()
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [15]:
y2008=data.query('release_year==2008').copy()
answers['9'] = y2008[y2008.profit==y2008.profit.max()].original_title.array[0]
answers['9']

'the dark knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [16]:
y2012_2014=data.query('release_year>=2012 & release_year<=2014 ').copy()
answers['10'] = y2012_2014[y2012_2014.profit==y2012_2014.profit.min()].original_title.array[0]
answers['10']

'the lone ranger'

# 11. Какого жанра фильмов больше всего?

In [17]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genres = get_dataset_split('genres',data)
g = genres.groupby(by=['n_genres'], as_index=False).count()
answers['11'] = g[g.imdb_id == g.imdb_id.max()]['n_genres'].array[0]
answers['11']

'drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [18]:
df=genres.merge(data, on = 'imdb_id', how = "inner")
df_genr = df[df.profit>0].groupby(by=['n_genres'], as_index=False).count()
answers['12'] = df_genr[df_genr.imdb_id==df_genr.imdb_id.max()].n_genres.array[0]
answers['12']

'drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [19]:
director = get_dataset_split('director',data)
df_dir = director.merge(data, on = 'imdb_id', how = 'inner')
g_revenue = df_dir.groupby(by='n_director', as_index=False)['revenue'].sum()
answers['13'] = g_revenue[g_revenue.revenue == g_revenue.revenue.max()].n_director.array[0]
answers['13']

'peter jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [20]:
genres = get_dataset_split('genres',data)
director = get_dataset_split('director',data)
df_g_and_d = director.merge(genres, on = 'imdb_id', how = 'inner')
df_actions = df_g_and_d[df_g_and_d.n_genres == 'action']
df_actions_count = df_actions.groupby(by='n_director', as_index=False).count()
answers['14'] = df_actions_count[df_actions_count.imdb_id==df_actions_count.imdb_id.max()].n_director.array[0]
answers['14']

'robert rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [21]:
cast = get_dataset_split('cast',data)
films = cast.merge(data, on='imdb_id', how = 'inner')
y2012 = films.query('release_year==2012').groupby(['n_cast'], as_index=False).sum()
answers['15']=y2012[y2012.revenue==y2012.revenue.max()].n_cast.array[0]
answers['15']

'chris hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [22]:
cast = get_dataset_split('cast',data)
films = cast.merge(data, on='imdb_id', how = 'inner')
df_mean_budget = films[films.budget>films.budget.mean()]
cast_count = df_mean_budget.groupby(['n_cast'], as_index=False)['imdb_id'].count()
answers['16']=cast_count[cast_count['imdb_id']==cast_count['imdb_id'].max()].n_cast.array[0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [23]:
cast = get_dataset_split('cast',data)
genres = get_dataset_split('genres',data)
Films = cast.merge(genres,on='imdb_id',how='inner')
NC_Films = Films[Films.n_cast == 'nicolas cage']
NC_genres_count=NC_Films.groupby(['n_genres'], as_index=False).count()
answers['17'] = NC_genres_count[NC_genres_count.n_cast==NC_genres_count.n_cast.max()].n_genres.array[0]
answers['17']

'action'

# 18. Самый убыточный фильм от Paramount Pictures

In [24]:
production_companies = get_dataset_split('production_companies',data)
Films = data.merge(production_companies, on='imdb_id', how='inner')
Films_Paramount = Films.query('n_production_companies=="paramount pictures"')
fail_films = Films_Paramount[Films_Paramount.profit==Films_Paramount.profit.min()]
answers['18'] = fail_films.original_title.array[0]
answers['18']

'k-19: the widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [25]:
sum_for_year = data.groupby(['release_year'], as_index=False)['revenue'].sum()
answers['19'] = sum_for_year[sum_for_year.revenue == sum_for_year.revenue.max()].release_year.array[0]
answers['19']

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [46]:
#production_companies = get_dataset_split('production_companies',data)
#Films = data.merge(production_companies, on='imdb_id', how='inner')
Films_Warner = data[data.production_companies.str.contains('warner bros')]
Films_Warner_for_year = Films_Warner.groupby(['release_year'], as_index=False)['profit'].sum()
profit_films = Films_Warner_for_year[Films_Warner_for_year.profit==Films_Warner_for_year.profit.max()]

answers['20'] = profit_films.release_year.array[0]
answers['20']

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [27]:
group_month = data.groupby(['month'], as_index=False)['imdb_id'].count()
max_films_count = group_month[group_month.imdb_id==group_month.imdb_id.max()].month
answers['21']=max_films_count.array[0]
answers['21']

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [28]:
group_month = data.groupby(['month'], as_index=False)['imdb_id'].count()
leto = ['6','7','8']
max_films_count = group_month[group_month.month.isin(leto)]
answers['22']=max_films_count.imdb_id.sum()
answers['22']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [29]:
director = get_dataset_split('director',data)
Films = director.merge(data, on = 'imdb_id', how = 'inner')
zima = ['1','2','12']
zima_films = Films[Films.month.isin(zima)]
director_count = zima_films.groupby(['n_director'], as_index=False)['imdb_id'].count()
director_count_max = director_count[director_count.imdb_id==director_count.imdb_id.max()]
answers['23'] = director_count_max.n_director.array[0]
answers['23']

'peter jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [30]:
production_companies = get_dataset_split('production_companies',data)
Films = data.merge(production_companies, on='imdb_id', how='inner')
prod_title_len = Films.groupby(['n_production_companies'], as_index=False)['title_len'].max()
prod_title_max = prod_title_len[prod_title_len.title_len==prod_title_len.title_len.max()]
answers['24'] = prod_title_max
answers['24']

                      n_production_companies  title_len
580                  four by two productions         83
1619  twentieth century fox film corporation         83

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [31]:
production_companies = get_dataset_split('production_companies',data)
Films = data.merge(production_companies, on='imdb_id', how='inner')
prod_overview_len = Films.groupby(['n_production_companies'], as_index=False)['overview_len'].mean()
prod_overview_max = prod_overview_len[prod_overview_len.overview_len==prod_overview_len.overview_len.max()]
answers['25'] = prod_overview_max.n_production_companies.array[0]
answers['25']

'midnight picture show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [69]:
#vote_average
sort_data = data.sort_values(['vote_average']).copy()
sort_data = sort_data.reset_index()
sort_data['index2'] = sort_data.index
quantile = sort_data.quantile([.99])['index2'].array[0]
One_Percent_Film = sort_data[sort_data.index2>quantile]

answers['26']=One_Percent_Film['original_title']
One_Percent_Film['original_title']

1870            eternal sunshine of the spotless mind
1871                         the theory of everything
1872            the lord of the rings: the two towers
1873                              there will be blood
1874                                       mr. nobody
1875                                 12 years a slave
1876                                      the pianist
1877                                        gone girl
1878                                          memento
1879                          guardians of the galaxy
1880                                        inception
1881                          the wolf of wall street
1882                         the grand budapest hotel
1883    the lord of the rings: the return of the king
1884                                             room
1885                                     interstellar
1886                                       inside out
1887                               the imitation game
1888                                  the dark knight
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [70]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'pirates of the caribbean: on stranger tides',
 '2': 'gods and generals',
 '3': 'winnie the pooh',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'avatar',
 '7': 'the lone ranger',
 '8': 1478,
 '9': 'the dark knight',
 '10': 'the lone ranger',
 '11': 'drama',
 '12': 'drama',
 '13': 'peter jackson',
 '14': 'robert rodriguez',
 '15': 'chris hemsworth',
 '16': 'matt damon',
 '17': 'action',
 '18': 'k-19: the widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'peter jackson',
 '24':                       n_production_companies  title_len
 580                  four by two productions         83
 1619  twentieth century fox film corporation         83,
 '25': 'midnight picture show',
 '26': 1870            eternal sunshine of the spotless mind
 1871                         the theory of everything
 1872            the lord of the rings: the two towers
 1873                              there will be blood
 1874                                       mr. nobody
 1875                                 12 years a slave
 1876                                      the pianist
 1877                                        gone girl
 1878                                          memento
 1879                          guardians of the galaxy
 1880                                        inception
 1881                          the wolf of wall street
 1882                         the grand budapest hotel
 1883    the lord of the rings: the return of the king
 1884                                             room
 1885                                     interstellar
 1886                                       inside out
 1887                               the imitation game
 1888                                  the dark knight
 Name: original_title, dtype: object}

In [71]:
# и убедиться что ни чего не пропустил)
len(answers)

26