In [20]:
import os
import pandas as pd

In [60]:
files = os.listdir('data')

In [59]:
ratings = pd.read_csv(r'C:\Files\Skill_Factory_Projects\Unit1\PYTHON-7. Объединение таблиц\ratings.xls')
files

['ratings_1.txt',
 'ratings_10.txt',
 'ratings_2.txt',
 'ratings_3.txt',
 'ratings_4.txt',
 'ratings_5.txt',
 'ratings_6.txt',
 'ratings_7.txt',
 'ratings_8.txt',
 'ratings_9.txt']

In [5]:
files = ['setup.py', 'ratings.txt', 'stock_stats.txt', 'movies.txt', 'run.sh', 'game_of_thrones.mov']

In [17]:
data = [x for x in files if x.find('txt')>-1] 
data

['ratings.txt', 'stock_stats.txt', 'movies.txt']

In [18]:
for root, dirs, files in os.walk('data'):
    print(root, dirs, files)

data [] ['ratings_1.txt', 'ratings_10.txt', 'ratings_2.txt', 'ratings_3.txt', 'ratings_4.txt', 'ratings_5.txt', 'ratings_6.txt', 'ratings_7.txt', 'ratings_8.txt', 'ratings_9.txt']

In [38]:
data = pd.DataFrame(columns = ['userId', 'movieId', 'rating', 'timestamp'])
for filename in files:
    temp = pd.read_csv(os.path.join('data', filename),names = ['userId', 'movieId', 'rating', 'timestamp'] )
    data = pd.concat([data, temp])

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100004 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  object
 1   movieId    100004 non-null  object
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  object
dtypes: float64(1), object(3)
memory usage: 3.8+ MB

In [40]:
data.head()

  userId movieId  rating   timestamp
0      1      31     2.5  1260759144
1      1    1029     3.0  1260759179
2      1    1061     3.0  1260759182
3      1    1129     2.0  1260759185
4      1    1172     4.0  1260759205

In [61]:
movies = pd.read_csv(r'C:\Files\Skill_Factory_Projects\Unit1\PYTHON-7. Объединение таблиц\movies.xls')

In [54]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [55]:
ratings[ratings.rating == ratings.rating.min()].count()

userId       1370
movieId      1370
rating       1370
timestamp    1370
dtype: int64

res = ratings.merge(movies, on = 'movieId', how = "outer")

In [64]:
res= ratings.merge(movies, on = 'movieId', how = "outer")
res.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100854 entries, 0 to 100853
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  float64
 1   movieId    100854 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  float64
 4   title      100854 non-null  object
 5   genres     100854 non-null  object
dtypes: float64(3), int64(1), object(2)
memory usage: 5.4+ MB

In [63]:
res.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [66]:
res[res.movieId==3456]

,userId,movieId,rating,timestamp,title,genres
100839,NaN,3456,NaN,NaN,"Color of Paradise, The (Rang-e khoda) (1999)",Drama

In [67]:
ratings.count()

userId       100836
movieId      100836
rating       100836
timestamp    100836
dtype: int64

In [68]:
movies[movies.movieId==3456]

      movieId                                         title genres
2587     3456  Color of Paradise, The (Rang-e khoda) (1999)  Drama

In [69]:
ratings[ratings.movieId==3456]

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []