In [2]:
import os
import pandas as pd

In [ ]:
log = pd.read_csv(r'log.xls',header = None)

In [ ]:
log.head(20)

In [ ]:
log.info()

In [ ]:
sample = pd.read_csv(r'sample.xls')
columns = sample.columns

In [ ]:
columns = sample.columns
new_col_name = []
for col in columns:
    new_col_name.append(col.lower())
sample.columns=new_col_name

In [ ]:
sample

In [ ]:
log.columns = ['user_id','time','bet','win']

In [ ]:
log.head()

In [ ]:
users = pd.read_csv(r'users.xls', encoding = 'koi8_r', sep='\t')

In [ ]:
users.columns=['user_id','email','geo']

In [ ]:
users.head()

In [ ]:
sample.info()

In [ ]:
for col in sample:
    print(col)
    print(sample[col].unique())

In [ ]:
log.user_id.unique()

In [ ]:
sample2 = sample[sample['age']<30]

In [ ]:
sample2

In [ ]:
log_win = log[log['win']>0]
win_count = log_win.win.count()

In [ ]:
log_win.head()
win_count

In [ ]:
sample2 = sample[(sample['age']<30)&(sample['profession']=='Рабочий')]

In [ ]:
sample2

In [ ]:
log2 = log.query('bet<2000 & win>0')

In [ ]:
sample4=sample[~sample.City.str.contains('о', na=False)]

In [ ]:
new_log = log[~log.user_id.str.contains('error', na=False)]

In [ ]:
sample = pd.read_csv(r'sample.xls')
new_age = sample.Age.apply(lambda x:x+1)
sample2=sample
sample2.Age = new_age
sample2

In [ ]:
sample = pd.read_csv(r'sample.xls')
new_age = sample.City.apply(profession_code
sample2=sample
sample2.City = new_age
sample2

In [ ]:
def profession_code(s):
    if str(s)=='Рабочий':
        return 0
    elif str(s)=='Менеджер':
        return 1
    else:
        return 2

In [ ]:
sample = pd.read_csv(r'sample.xls')
new_age = sample.Profession.apply(profession_code)
sample2=sample.copy()
sample2.Profession = new_age
sample

In [ ]:
def age_category(age):
    if age<23:
        return 'молодой'
    if age>=23 and age<35:
        return 'средний'
    if age>=35:
        return 'зрелый'

In [ ]:
sample['Age_category']=sample.Age.apply(age_category)

In [ ]:
sample

In [ ]:
age_category(40)

In [ ]:
def f_user_id(s):
    if str(s).find('error')>-1:
        return ""
    return s.split("-")[1].strip()
#log['user_id']=log.user_id.apply(f_user_id)
log

In [31]:
log = pd.read_csv(r'log.xls',header = None)

In [32]:
log.columns = ['user_id','time','bet','win']

In [36]:
log['time']=log.time.apply(lambda x:str(x).replace('[','') if type(x)==str else x)

In [38]:
type(log.time[997])

float

In [39]:
log

                              user_id                 time      bet      win
0    Запись пользователя № - user_919  2019-01-01 14:06:51      NaN      NaN
1    Запись пользователя № - user_973  2019-01-01 14:51:16      NaN      NaN
2    Запись пользователя № - user_903  2019-01-01 16:31:16      NaN      NaN
3    Запись пользователя № - user_954  2019-01-01 17:17:51      NaN      NaN
4    Запись пользователя № - user_954  2019-01-01 21:31:18      NaN      NaN
..                                ...                  ...      ...      ...
995  Запись пользователя № - user_984   2019-04-20 9:59:58   9754.0      NaN
996                            #error                  NaN  10054.0  29265.0
997                            #error                  NaN  10454.0      NaN
998                            #error                  NaN   1000.0      NaN
999                            #error                  NaN  10754.0      NaN

[1000 rows x 4 columns]

In [43]:
def f_user_id(s):
    if str(s).find('error')>-1:
        return ""
    return s.split("-")[1].strip()
log = pd.read_csv(r'log.xls',header = None)
log.columns = ['user_id','time','bet','win']
log = log[~log.user_id.str.contains('error', na=False)]
log['time']=log.time.apply(lambda x:str(x).replace('[','') if type(x)==str else x)
log['user_id']=log.user_id.apply(f_user_id)
log

      user_id                 time      bet     win
0    user_919  2019-01-01 14:06:51      NaN     NaN
1    user_973  2019-01-01 14:51:16      NaN     NaN
2    user_903  2019-01-01 16:31:16      NaN     NaN
3    user_954  2019-01-01 17:17:51      NaN     NaN
4    user_954  2019-01-01 21:31:18      NaN     NaN
..        ...                  ...      ...     ...
991  user_965  2019-04-20 12:55:41    800.0  6927.0
992  user_967  2019-04-20 14:59:36  10154.0     NaN
993  user_973  2019-04-20 17:09:56  10254.0     NaN
994  user_977  2019-04-20 18:10:07  10354.0     NaN
995  user_984   2019-04-20 9:59:58   9754.0     NaN

[985 rows x 4 columns]