In [38]:
import pandas as pd
df = pd.read_csv(r'C:\Users\d.shkuratov\SkillFactory\GitHub\Unit1\data_sf.xls',)

In [6]:
pivot = df.loc[df['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Wage'],
index=['Nationality'],
columns=['Club'],
aggfunc='sum',
margins=True)
display(pivot)

                           Wage                                           \
Club               FC Barcelona   Juventus Manchester United Real Madrid
Nationality
Argentina              565000.0   205000.0          206000.0         NaN
Belgium                110000.0        NaN          230000.0    240000.0
Bosnia Herzegovina          NaN   180000.0               NaN         NaN
Brazil                 465000.0   335000.0           91000.0    570000.0
Chile                  205000.0        NaN          215000.0         NaN
Costa Rica                  NaN        NaN               NaN    195000.0
Croatia                260000.0   160000.0               NaN    420000.0
Dominican Republic          NaN        NaN               NaN    140000.0
Ecuador                     NaN        NaN          120000.0         NaN
England                     NaN        NaN          478000.0         NaN
France                 495000.0   145000.0          375000.0    459000.0
Germany                240000.0   160000.0               NaN    355000.0
Italy                       NaN   460000.0           88000.0         NaN
Ivory Coast                 NaN        NaN          105000.0         NaN
Morocco                     NaN   160000.0               NaN         NaN
Netherlands            135000.0        NaN               NaN         NaN
Poland                      NaN   125000.0               NaN         NaN
Portugal               125000.0   405000.0               NaN         NaN
Scotland                    NaN        NaN           11000.0         NaN
Serbia                      NaN        NaN          165000.0         NaN
Spain                  912000.0        NaN          260000.0   1404000.0
Uruguay                455000.0        NaN               NaN         NaN
Wales                       NaN        NaN           13000.0    355000.0
All                   3967000.0  2335000.0         2357000.0   4138000.0


Club                     All
Nationality
Argentina             976000
Belgium               580000
Bosnia Herzegovina    180000
Brazil               1461000
Chile                 420000
Costa Rica            195000
Croatia               840000
Dominican Republic    140000
Ecuador               120000
England               478000
France               1474000
Germany               755000
Italy                 548000
Ivory Coast           105000
Morocco               160000
Netherlands           135000
Poland                125000
Portugal              530000
Scotland               11000
Serbia                165000
Spain                2576000
Uruguay               455000
Wales                 368000
All                 12797000

In [7]:
df2 = df.pivot_table(columns = 'Position', index = 'Club', values = 'Wage', aggfunc = 'max')

In [8]:
display(df2)

Position,CAM,CB,CDM,CF,CM,GK,LAM,LB,LCB,LCM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
Club,,,,,,,,,,,,,,,,,,,,,
SSV Jahn Regensburg,NaN,5000.0,5000.0,NaN,4000.0,5000.0,NaN,6000.0,NaN,NaN,...,4000.0,8000.0,NaN,5000.0,NaN,NaN,NaN,NaN,NaN,3000.0
1. FC Heidenheim 1846,5000.0,7000.0,NaN,NaN,1000.0,4000.0,NaN,6000.0,6000.0,NaN,...,6000.0,3000.0,NaN,NaN,NaN,3000.0,NaN,NaN,NaN,4000.0
1. FC Kaiserslautern,NaN,1000.0,1000.0,NaN,NaN,1000.0,NaN,2000.0,2000.0,NaN,...,2000.0,NaN,NaN,2000.0,NaN,2000.0,2000.0,NaN,NaN,1000.0
1. FC Köln,NaN,1000.0,10000.0,NaN,3000.0,25000.0,NaN,NaN,NaN,NaN,...,5000.0,NaN,NaN,NaN,NaN,18000.0,NaN,NaN,NaN,NaN
1. FC Magdeburg,NaN,7000.0,NaN,4000.0,NaN,6000.0,NaN,2000.0,5000.0,4000.0,...,NaN,3000.0,3000.0,NaN,NaN,5000.0,8000.0,4000.0,NaN,1000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zagłębie Sosnowiec,2000.0,1000.0,1000.0,NaN,NaN,1000.0,NaN,1000.0,1000.0,NaN,...,1000.0,1000.0,NaN,1000.0,NaN,1000.0,NaN,NaN,NaN,2000.0
Çaykur Rizespor,11000.0,11000.0,13000.0,NaN,NaN,3000.0,NaN,7000.0,4000.0,NaN,...,6000.0,NaN,NaN,10000.0,NaN,12000.0,NaN,NaN,NaN,2000.0
Örebro SK,NaN,2000.0,NaN,NaN,1000.0,2000.0,NaN,NaN,2000.0,2000.0,...,NaN,2000.0,2000.0,NaN,NaN,NaN,NaN,2000.0,1000.0,2000.0
Östersunds FK,1000.0,1000.0,NaN,3000.0,8000.0,1000.0,NaN,2000.0,3000.0,5000.0,...,1000.0,1000.0,NaN,NaN,NaN,2000.0,NaN,1000.0,NaN,1000.0
Śląsk Wrocław,NaN,1000.0,3000.0,NaN,1000.0,2000.0,NaN,3000.0,2000.0,NaN,...,2000.0,4000.0,NaN,3000.0,NaN,3000.0,4000.0,NaN,NaN,1000.0

In [9]:
df2.loc['Manchester City']['GK']

125000.0

In [10]:
df2[df2.Club == 'Manchester City' and df2.Position == 'GK']

AttributeError: 'DataFrame' object has no attribute 'Club'

In [11]:
pivot = df.loc[df['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Name'],
index=['Nationality'],
columns=['Club'],
aggfunc='count',
fill_value=0)
display(pivot)

                           Name
Club               FC Barcelona Juventus Manchester United Real Madrid
Nationality
Argentina                     1        1                 2           0
Belgium                       1        0                 1           1
Bosnia Herzegovina            0        1                 0           0
Brazil                        2        2                 1           2
Chile                         1        0                 1           0
Costa Rica                    0        0                 0           1
Croatia                       1        1                 0           1
Dominican Republic            0        0                 0           1
Ecuador                       0        0                 1           0
England                       0        0                 6           0
France                        3        1                 2           3
Germany                       1        1                 0           1
Italy                         0        4                 1           0
Ivory Coast                   0        0                 1           0
Morocco                       0        1                 0           0
Netherlands                   1        0                 0           0
Poland                        0        1                 0           0
Portugal                      1        1                 0           0
Scotland                      0        0                 1           0
Serbia                        0        0                 1           0
Spain                         9        0                 1          11
Uruguay                       1        0                 0           0
Wales                         0        0                 1           1

In [29]:
pivot.loc['Argentina']['Name']['Manchester United']

KeyError: 'Argentina'

In [25]:
pivot = df.pivot_table( values=['Wage'],
                        index=['Club'],
                        columns=['Nationality'],
                        aggfunc='sum',
                        fill_value=0)
display(pivot)

                             Wage                                 \
Nationality           Afghanistan Albania Algeria Andorra Angola
Club
 SSV Jahn Regensburg            0       0       0       0      0
1. FC Heidenheim 1846           0       0       0       0      0
1. FC Kaiserslautern            0       0       0       0      0
1. FC Köln                      0       0       0       0      0
1. FC Magdeburg                 0       0       0       0      0
...                           ...     ...     ...     ...    ...
Zagłębie Sosnowiec              0       0       0       0   1000
Çaykur Rizespor                 0       0       0       0      0
Örebro SK                       0    1000       0       0      0
Östersunds FK                   0       0       0       0      0
Śląsk Wrocław                   0       0       0       0      0

                                                                             \
Nationality           Antigua & Barbuda Argentina Armenia Australia Austria
Club
 SSV Jahn Regensburg                  0         0       0         0       0
1. FC Heidenheim 1846                 0         0       0         0       0
1. FC Kaiserslautern                  0         0       0         0       0
1. FC Köln                            0         0       0         0   18000
1. FC Magdeburg                       0         0       0         0       0
...                                 ...       ...     ...       ...     ...
Zagłębie Sosnowiec                    0         0       0         0       0
Çaykur Rizespor                       0         0       0         0       0
Örebro SK                             0         0       0         0       0
Östersunds FK                         0         0       0         0       0
Śląsk Wrocław                         0         0       0         0       0

                       ...                                              \
Nationality            ... Turkey Uganda Ukraine United States Uruguay
Club                   ...
 SSV Jahn Regensburg   ...      0      0       0             0       0
1. FC Heidenheim 1846  ...      0      0       0             0       0
1. FC Kaiserslautern   ...   1000      0       0             0       0
1. FC Köln             ...      0      0       0          1000       0
1. FC Magdeburg        ...      0      0       0             0       0
...                    ...    ...    ...     ...           ...     ...
Zagłębie Sosnowiec     ...      0      0       0             0       0
Çaykur Rizespor        ...  47000      0       0             0       0
Örebro SK              ...      0      0       0             0       0
Östersunds FK          ...      0      0       0             0       0
Śląsk Wrocław          ...      0      0       0             0       0


Nationality           Uzbekistan Venezuela Wales Zambia Zimbabwe
Club
 SSV Jahn Regensburg           0         0     0      0        0
1. FC Heidenheim 1846          0         0     0      0        0
1. FC Kaiserslautern           0         0     0      0        0
1. FC Köln                     0         0     0      0        0
1. FC Magdeburg                0         0     0      0        0
...                          ...       ...   ...    ...      ...
Zagłębie Sosnowiec             0         0     0      0        0
Çaykur Rizespor                0         0     0      0        0
Örebro SK                      0         0     0      0        0
Östersunds FK                  0         0     0      0        0
Śląsk Wrocław                  0         0     0      0        0

[650 rows x 156 columns]

In [27]:
pivot['Wage']['Russia']['AS Monaco']

61000

In [1]:
import pandas as pd
df = pd.read_csv(r'C:\Users\d.shkuratov\SkillFactory\GitHub\Unit1\data_sf.xls',)
pivot = df.pivot_table( values='SprintSpeed',
                        index='Club',
                        columns='Position',
                        aggfunc='mean',
                       margins=True)

In [2]:
t = pivot.loc['All']
t[t.index.isin(['RB', 'LM' ,'RM', 'CF', 'RWM', 'RS'])].sort_values()

Position
CF    69.803922
RB    71.186709
RS    71.991228
LM    74.211538
RM    74.943864
Name: All, dtype: float64

In [4]:
t = pivot['ST']
t[t.index.isin(['Sydney FC','CD Lugo','Arsenal','Toronto FC','Girona FC','Melbourne Victory','Vitória'])].sort_values()

Club
Melbourne Victory    81.00
Toronto FC           81.75
Arsenal              83.00
CD Lugo              87.00
Sydney FC            88.00
Vitória              91.00
Girona FC              NaN
Name: ST, dtype: float64